<app-menu></app-menu>
<br>
<br>
<div class="card w-75 mb-3 mx-auto mt-5">
<form (ngSubmit)="verificarCredenciales(email.value, password.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #password required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
