<app-menu></app-menu>
<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
      type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1"
      data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3"
      data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img alt="..." class="d-block w-100"
        src="https://i.postimg.cc/KvVHqzW1/pngtree-school-classroom-desk-background-picture-image-2252872.png">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100"
        src="https://i.postimg.cc/Hs2hmzj7/large-Example-png-3a6ee995ef008d71ab1f2161f1556bb5.png">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="https://i.postimg.cc/8C5893H5/403d21c4a993c6befb4b058833a3119d.png">
      <div class="carousel-caption">
      </div>
    </div>
  </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
    type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span
      class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next"
    data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true"
      class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>
