<form (ngSubmit)="guardar( f )" #f="ngForm">
  <div class="card w-75 mb-3 mx-auto mt-5">
    <div class="card-header">
      Datos del alumno
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Imagen del alumno</label>
        <br>
        <input type="file" (change)="onFileSelected($event)">
        <div *ngIf="selectedFile">
            <h4 class="text-center">Vista previa de la imagen seleccionada:</h4>
            <img [src]="alumno.imagen" *ngIf="alumno.imagen" class="rounded mx-auto d-block"  width="200">
        </div>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre"
          [(ngModel)]="alumno.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Apellido"
          [(ngModel)]="alumno.apellido" name="apellido" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput4" class="form-label">Correo</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Correo"
          [(ngModel)]="alumno.correo" name="correo" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput5" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Contraseña"
          [(ngModel)]="alumno.contra" name="contraseña" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput5" class="form-label">Sexo</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="alumno.sexo" name="sexo">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput7" class="form-label">Carrera</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="alumno.carrera" name="carrera" id="carrera">
          <option value="Contabilidad TM">Contabilidad TM</option>
          <option value="Contabilidad TV">Contabilidad TV</option>
          <option value="Programacion">Programacion</option>
          <option value="A.R.H TM">A.R.H TM</option>
          <option value="A.R.H TV">A.R.H TV</option>
          <option value="Electricidad">Electricidad</option>
          <option value="Ciencia de datos">Ciencia de datos</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput6" class="form-label">Grupo</label>
        <input class="form-control" type="text" [(ngModel)]="alumno.grupo" placeholder="Grupo" name="grupo" id="Asgrupo">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput8" class="form-label">Materia 1</label>
        <input type="text" class="form-control" name="formGroupExampleInput2" placeholder="Materia 1" id="cal1">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput9" class="form-label">Materia 2</label>
        <input type="text" class="form-control" name="formGroupExampleInput2" placeholder="Materia 2" id="cal2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput10" class="form-label">Materia 3</label>
        <input type="text" class="form-control" name="formGroupExampleInput2" placeholder="Materia 3" id="cal3">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput11" class="form-label">Promedio</label>
        <input type="text" class="form-control" name="formGroupExampleInput2" placeholder="Promedio" id="promedio" disabled>
        <br>
        <input type="button" value="Calcular Promedio" class="btn btn-primary" id="calPromedio" name="calPromedio">
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
